@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the font to a specific class or element */
.custom-font {
  font-family: "Ubuntu", sans-serif;
}
.custom-svg {
  background-image: url("../public/textflow-cover-02.svg");
  /* background-size: cover; */
  /* Additional background properties as needed */
}

/* body {
  font-family: "Ubuntu", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
