@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the font to a specific class or element */
.custom-font {
  font-family: "Ubuntu", sans-serif;
}
.custom-svg {
  background-image: url("../public/textflow-cover-02.svg");
  /* Additional background properties as needed */
}
/* Targeting Base layer designs */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading my-6 font-bold;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  p {
    @apply: my-2;
  }
  /* margin for list tags */
  ul,
  ol {
    @apply: my-2;
  }
  /* styling the list */
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    @apply m-2;
  }
  p > code,
  li > code,
  dd > code,
  td > code {
    background: #e5e5e5;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem 0.2rem;
    border-radius: 0.2rem;
  }
  pre code {
    padding: 0.1rem 0.3rem 0.2rem;
    border-radius: 0.5rem;
    background: #e5e5e5;
    display: block;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
  }
  /* pre:hover,
  pre:focus {
    width: min-content;
  }
  pre[data-lang]::before {
    content: attr(data-lang);
    display: block;
  } */
}
/* global styling which is accessed through layer and can be OVERWRITTEN!! */
@layer components {
  .btn {
    @apply bg-transparent hover:bg-neutral-900 text-neutral-900 font-semibold hover:text-white border border-neutral-800 hover:border-transparent rounded text-center items-center;
  }
}
